// In editor screen need to no content outer layout

// 投稿コンテンツテンプレートで 
// <!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
// のように constrained 指定がある場合は .is-root-container に .is-layout-constrained が付く

// * .is-root-container に限って .is-layout-constrained でもコンテンツ幅にならないように指定してあり、中の要素は max-width でコンテンツ幅を処理している

// global のコンテントサイズや wide の値をコアが直で出力してくるが、
// カスタムレイアウトをピクセルで指定されると幅が狭い時に崩れるため、レスポンシブに対応したカスタム変数で上書き
.editor-styles-wrapper {
	.block-editor-block-list__layout.is-root-container > :where(:not(.alignleft,.alignright,.alignfull)) {
		max-width: var(--wp--custom--width--content);
	}
	.block-editor-block-list__layout.is-root-container > .alignwide {
		width: var(--wp--custom--width--wide);
		max-width: var(--wp--custom--width--wide);
	}
}