/*
 * Core block styles overrides
 */

.wp-block-post-excerpt__more-text {
	margin-block-start: var(--wp--custom--spacing--small);
}

/* Search ------------------------------------------------- */
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	padding: 3px;
}

/* Table ------------------------------------------------- */
.wp-block-table {
	thead th.has-text-align-right {
		text-align: center;
	}

	figcaption {
		margin-top: 0.4rem;
		text-align: center;
		font-size: 0.75rem;
	}
}

/* Image ------------------------------------------------- */
.wp-block-image figcaption {
	margin-bottom: 0;
	// Probably this color specify is become could set from theme.json near future but now first aid.
	color: var(--wp--preset--color--text-normal);
}

/*-------------------------------------------*/
/*  Comment
/*-------------------------------------------*/
.wp-block-comments-pagination {
	margin-top: var(--wp--custom--spacing--medium);
}

.wp-block-post-comments-form {
	margin-top: var(--wp--custom--spacing--medium);

	input:not([type='submit']),
	textarea {
		border-color: var(--wp--preset--color--border-normal);
	}
}

.wp-block-comments .wp-block-button {
	margin-top: var(--wp--custom--spacing--small);
}

/*-------------------------------------------*/
/*  Category / Archive block
/*-------------------------------------------*/
ul:is(.wp-block-archives-list,
	.wp-block-categories-list,
	.vk_ancestorPageList_list,
	.vk_taxonomy-list,
	.vk_archive-list) {
	padding: 0;
	margin: 0;
	--vk-margin-list-menu-left-first: var(--wp--custom--spacing--menu-indent);

	ul {
		padding: 0;
		margin: 0;
	}

	&>li:first-child {
		&:is(.current-cat, .current_page_item, [area-current='page']) {
			border-top: 1px solid var(--wp--preset--color--border-normal);
		}
	}

	li {
		list-style: none;
		margin: 0;
		font-size: var(--wp--preset--font-size--small);

		a {
			display: block;
			padding: 0.5em var(--vk-margin-list-menu-left-first);
			border-bottom: 1px solid var(--wp--preset--color--border-normal);
			text-decoration: none;
		}

		a:hover,
		&.current-cat>a,
		&.current_page_item>a,
		a[area-current='page'] {
			background-color: rgba(0, 0, 0, 0.03);
		}
	}

	li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent));
	}

	li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 2);
	}

	li li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 3);
	}

	li li li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 4);
	}

	li li li li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 5);
	}

	li li li li li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 6);
	}

	li li li li li li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 7);
	}
}

*[class*='wp-block'][class*='-dropdown'] {
	&>select {
		width: 100%;
	}
}

/* Inline Code ------------------------------------------------- */
.wp-block-post-content {
	:not(pre)>code {
		display: inline-flex;
		margin: 0 0.4em;
		padding: 0.2em 0.4em;
		align-items: center;
		background-color: var(--wp--preset--color--bg-secondary);
		border: 1px solid var(--wp--preset--color--border-normal);
		border-radius: 2px;
		color: var(--wp--preset--color--text-normal);
		font-size: 0.9em;
		line-height: 1.1;

		:focus:not(pre)>code[data-rich-text-format-boundary] {
			background-color: var(--wp--preset--color--border-normal);
		}
	}
}

/*-------------------------------------------*/
/*  Tag Cloud
/*-------------------------------------------*/
.tag-cloud-link {
	color: var(--wp--preset--color--text-secondary);
	border: solid 1px var(--wp--preset--color--border-normal);
	padding: .2em .4em;
	margin: .1em;
	border-radius: 2px;
	text-decoration: none;
	line-height: 1.2;

	&:before {
		content: '#';
		padding-right: 2px;
		font-size: .85em;
	}

	&:hover {
		color: var(--wp--preset--color--text-normal);
	}
}
/*-------------------------------------------*/
/*  Post Date Block
/*-------------------------------------------*/
// theme.json から指定可能になったらそちらに移行
.wp-block-post-date time{
	white-space:nowrap;
}