/*
 * core block 
 */
/*-------------------------------------------*/
/*  Spacer
/*-------------------------------------------*/
.is-style-spacer-xxs {
	height: var(--wp--custom--spacing--xx-small) !important;
}
.is-style-spacer-xs {
	height: var(--wp--custom--spacing--x-small) !important;
}

.is-style-spacer-sm {
	height: var(--wp--custom--spacing--small) !important;
}

.is-style-spacer-md {
	height: var(--wp--custom--spacing--medium) !important;
}

.is-style-spacer-lg {
	height: var(--wp--custom--spacing--large) !important;
}

.is-style-spacer-xl {
	height: var(--wp--custom--spacing--x-large) !important;
}

/*-------------------------------------------*/
/*  Column
/*-------------------------------------------*/
body .is-style-main-layout.is-layout-flex {
	gap: var(--wp--custom--spacing--large);
}

.is-style-main-layout-sidebar {
	flex-grow: unset !important;
	flex-basis: var(--wp--custom--layout--sidebar) !important;
}

/*-------------------------------------------*/
/*  Group
/*-------------------------------------------*/
// .scrolled-header-fixed ... before 1.0 ( additional class)
// .is-style-scrolled-header-fixed ... @since 1.1.0 ( block style )
*[class*="scrolled-header-fixed"]{
	position: fixed;
	z-index: 9999;
	width: 100vw;
	transition: all 0.5s ease-out;
	top: -200px;

	&.wp-block-group {
		overflow: visible;
	}

	.header-fixed-active & {
		top: 0;

		@media (min-width:601px) {
			top: var(--wp-admin--admin-bar--height);
		}
	}

	.edit-site-block-editor__block-list & {
		position: relative;
		top: 0;
	}
}