/*
 * Core block styles overrides
 */

 .wp-block-post-excerpt__more-text {
	margin-block-start: var(--wp--custom--spacing--small);
 }

/* Search ------------------------------------------------- */
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	padding: 3px;
}

/* Table ------------------------------------------------- */
.wp-block-table {
	thead th.has-text-align-right {
		text-align: center;
	}

	figcaption {
		margin-top: 0.4rem;
		text-align: center;
		font-size: 0.75rem;
	}
}

/* Image ------------------------------------------------- */
.wp-block-image figcaption {
	margin-bottom: 0;
	// Probably this color specify is become could set from theme.json near future but now first aid.
	color:var(--wp--preset--color--text-normal);
}

/*-------------------------------------------*/
/*  Comment
/*-------------------------------------------*/
.wp-block-comments-pagination {
	margin-top: var(--wp--custom--spacing--medium);
}

.wp-block-post-comments-form {
	margin-top: var(--wp--custom--spacing--medium);

	input:not([type=submit]),
	textarea {
		border-color: var(--wp--preset--color--border-normal);
	}
}
.wp-block-comments .wp-block-button {
	margin-top: var(--wp--custom--spacing--small);
}

/*-------------------------------------------*/
/*  Category / Archive block
/*-------------------------------------------*/
ul.wp-block-archives-list,
ul.wp-block-categories-list,
ul[class*="wp-block"][class*="__list"],
ul[class*="vk_"][class*="list"]:where(:not(.vk_tableOfContents_list)) {
	padding: 0;
	margin: 0;
	--vk-margin-list-menu-left-first: var(--wp--custom--spacing--menu-indent);

	ul {
		padding: 0;
		margin: 0;
	}
	& > li:first-child {
		&:is( 
			.current-cat,
			.current_page_item,
			[area-current="page"]
		 ){
			border-top: 1px solid var(--wp--preset--color--border-normal);
		}
	}

	li {
		list-style: none;
		margin: 0;
		font-size: var(--wp--preset--font-size--small);

		a {
			display: block;
			padding: 0.5em var(--vk-margin-list-menu-left-first);
			border-bottom: 1px solid var(--wp--preset--color--border-normal);
			text-decoration: none;
		}

		a:hover,
		&.current-cat>a,
		&.current_page_item>a,
		a[area-current="page"] {
			background-color: rgba(0,0,0,0.03);
		}
	}

	li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent));
	}

	li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 2);
	}

	li li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 3);
	}

	li li li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 4);
	}

	li li li li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 5);
	}

	li li li li li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 6);
	}

	li li li li li li li li a {
		padding-left: calc(var(--vk-margin-list-menu-left-first) + var(--wp--custom--spacing--menu-indent) * 7);
	}
}

*[class*="wp-block"][class*="-dropdown"]{
	& > select {
		width: 100%;
	}
}