.alignfull {
	width: auto;
	/* Don't use 100vw!! cope with windows */
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);

	&.wp-block-image {
		// Default block style overwrite
		max-width: 100vw;
	}
}

.alignwide {
	width: calc(100% + (100vw - 100%) / 2);
	margin-left: calc((100% - 100vw) / 4);
	margin-right: calc((100% - 100vw) / 4);

	&.wp-block-image {
		max-width: 100vw;
	}
}