.wp-block-button__link:is(.has-background,.wp-element-button) {
	padding: 0.667em 1.333em;
}

.btn,
.wp-block-button__link,
.wp-block-search__button,
.wp-block-post-excerpt__more-link,
.wp-block-button__link.has-primary-background-color {
	transition: all 0.1s ease-in;
	background-color: var(--wp--preset--color--primary);
	color: #fff; // BG Secondary and Dark both white
	text-decoration: none;
	border-radius: var(--wp--custom--radius--button);
	&:hover {
		--wp--preset--color--primary: var(--wp--preset--color--primary-hover);
	}
}
/* ---------------------------------
 * Hover color
 * --------------------------------- */
 .wp-block-button__link.has-background:hover:where(:not(.has-primary-background-color)) {
	filter: brightness(1.1) saturate(2);
 }
/* ---------------------------------
 * Outline color
 * --------------------------------- */
.wp-block-button.is-style-outline {
	& > .wp-block-button__link {
		border-width:1px;
	}
	& > .wp-block-button__link:not(.has-background):hover {
		background-color: var(--wp--preset--color--primary-hover);
		color: #fff;
	}
	& > .has-text-color:hover {
		// background-color: currentColor;
		color:#fff !important;
	}
}

/* ---------------------------------
 * VK Blocks Hover color
 * --------------------------------- */
.vk_button {
	.vk_button_link:hover  {
		color:#fff;
		opacity: 1;
	}
	.vk_button_link:where(:not(.has-vk-color-primary-color)):hover{
		filter: brightness(1.1) saturate(2);
	}
}
/* ---------------------------------
 * VK Blocks Outline color
 * --------------------------------- */
.vk_button {
	.vk_button_link{
		&.is-style-outline {
			&:hover {
				background-color: var(--wp--preset--color--primary-hover);
				.has-text-color {
					border-color: var(--wp--preset--color--primary-hover);
				}
				color: #fff;
			}
		}
	}
}
