.wp-block-button__link:is(.has-background,.wp-element-button) {
	padding: 0.667em 1.333em;
}
input[type='submit'],
.btn,
.wp-block-button__link,
.wp-block-search__button,
.wp-block-post-excerpt__more-link,
.wp-block-read-more,
.wp-block-button__link.has-primary-background-color {
	transition: all 0.1s ease-in;
	background-color: var(--wp--preset--color--primary);
	text-decoration: none;
	border-radius: var(--wp--custom--radius--button);
	&:is(:hover, :active, :focus) {
		--wp--preset--color--primary: var(--wp--preset--color--primary-hover);
	}
	:root & {
		text-decoration: none;
		color: #fff; // BG Secondary and Dark both white
	}
}
.wp-block-search__button{
	white-space: nowrap;
	padding:5px 1em;
}

/* ---------------------------------
 * Hover color
 * --------------------------------- */
 // 独自にボタンに色指定をした場合にhover色を変える
 .wp-block-button__link.has-background:hover:where(:not(.has-primary-background-color)) {
	filter: brightness(1.1) saturate(2);
 }
/* ---------------------------------
 * Outline color
 * --------------------------------- */
.wp-block-button.is-style-outline {
	& > :where(.wp-block-button__link) { // has-vk-color-*が効かなくなるためwhereを追加
		border-width:1px;
		// 6.6で コアのデフォルトスタイルが負けるようになり、背景色がついてしまうので追加
		background-color:transparent;
		color: currentColor;
	}
	& > .wp-block-button__link:not(.has-background):hover {
		background-color: var(--wp--preset--color--primary-hover);
		color: #fff;
	}
	& > .has-text-color:where(:not(.has-background)):hover {
		color:#fff !important;
	}
}

/* ---------------------------------
 * VK Blocks Hover color
 * --------------------------------- */
.vk_button {
	.vk_button_link:where(:not(.has-text-color)):hover {
		color:#fff;
		opacity: 1;
	}
	.vk_button_link.has-vk-color-primary-background-color:hover{
		background-color: var(--wp--preset--color--primary-hover);
	}
	.vk_button_link:where(:not(.has-vk-color-primary-color)):hover{
		filter: brightness(1.1) saturate(2);
	}
}
/* ---------------------------------
 * VK Blocks Outline color
 * --------------------------------- */
.vk_button {
	.vk_button_link{
		&.is-style-outline {
			&:hover {
				background-color: var(--wp--preset--color--primary-hover);
				.has-text-color {
					border-color: var(--wp--preset--color--primary-hover);
				}
				color: #fff;
			}
		}
	}
}
