.wp-block-button__link.has-background {
	padding: 0.667em 1.333em;
}

.btn,
.wp-block-button__link,
.wp-block-search__button,
.wp-block-post-excerpt__more-link,
.wp-block-button__link.has-primary-background-color {
	transition: all 0.1s ease-in;
	background-color: var(--wp--preset--color--primary);
	color: #fff; // BG Secondary and Dark both white
	text-decoration: none;
	border-radius: var(--wp--custom--radius--button);
	&:hover {
		--wp--preset--color--primary: var(--wp--preset--color--primary-hover);
	}
}

.wp-block-button.is-style-outline {
	& > .wp-block-button__link {
		border-width:1px;
	}
	& > .wp-block-button__link:not(.has-background):hover {
		background-color: var(--wp--preset--color--primary-hover);
		color: #fff;
	}
}
.vk_button {
	.vk_button_link:hover  {
		filter: brightness(1.1) saturate(2);
		opacity: 1;
	}
}
.vk_button {
	.vk_button_link{
		&.is-style-outline {
			&:hover {
				background-color: var(--wp--preset--color--primary-hover);
				.has-text-color {
					border-color: var(--wp--preset--color--primary-hover);
				}
				color: #fff;
			}
		}
	}
}
