/* Reset Browser User agent margin */
h1,h2,h3,h4,h5,h6,p,ul,ol {
	margin-top:0;
	margin-bottom:0;
}
body {
	// Cope with not intend horizontal scrollbar display
	// margin-left: calc(50% - 50vw) などのネガティブマージンで横スクロールが発生するのを防ぐ
	// 本来スクロール分を調整する手法の方が正確だが、コードを簡素化するためにこの方法を採用
    overflow-x: hidden;

	// @ 1.15.1 
	// Change selector body,html {} -> body {}
	// * If specify "html, body" then scrolled js not work 
}
html {
	// 360px : 14px -> 1200px : 16px
	font-size: clamp(14px, calc((100vw - 360px) * (2 / (1200 - 360)) + 14px), 16px);

}

body {
	font-weight: 500;
	line-height: var(--wp--custom--typography--line-height--normal);
}

* {
	box-sizing: border-box;
}

a {
	text-decoration-thickness: 1px;
	text-underline-offset: 0.25em;

	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}
figure {
	max-width: 100%;
	margin: 0;
}

main {
	ul,
	ol {
		padding-left: 1.5em;
	}

	input,
	textarea,
	select {
		padding: 0.5em;
		border: 1px solid var(--wp--preset--color--border-normal);
	}
}

// Cope with select option has many charactors
input,
textarea,
select {
	max-width: 100%;
}

hr {
	margin:0;
}

textarea {
	width: 100%;
}

iframe {
	max-width: 100%;
}

// お問い合わせフォームなど手打ちした場合用
table,
.wp-block-table table {
	border-collapse: collapse;
	width: 100%;

	&,
	th,
	td {
		border: 1px solid var(--wp--preset--color--border-normal);
		padding: 0.5em 0.8em;
	}
}