* {
	// margin-block-start: 0;
	margin-block-end: 0;
}

main,
hr {
	margin-top: 0;
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// line-height is not margin but, reason of writned to here is line-height has deep engagement with this margin.
	line-height: var(--wp--custom--typography--line-height--heading);
	margin-bottom: 0;
}

h2,
h3,
h4,
h5,
h6 {
	// margin = Ideal margin - half-leading（ (line-height - 1em ) /2 ）
	margin-top: calc(1.5em - ((var(--wp--custom--typography--line-height--heading) - 1em) / 2));

	&:first-child {
		margin-top: 0;
	}
}

:is(h1, h2, h3, h4, h5, h6)+ :is(h2, h3, h4, h5, h6) {
	margin-top: calc(1em - ((var(--wp--custom--typography--line-height--heading) - 1em) / 2));
}

:is(h1, h2, h3, h4, h5, h6)+ :is(p, ul, ol, dl) {
	// margin = Ideal margin - half-leading（ (line-height - 1em ) /2 ）
	margin-top: calc(1.5em - ((var(--wp--custom--typography--line-height--normal) - 1em) / 2));
}

figure,
ul,
ol,
blockquote,
.wp-block-table,
.wp-block-buttons {
	// margin-top: var(--wp--custom--spacing--medium);
	// margin-block-start: var(--wp--custom--spacing--medium);
}

// p,
// main ul li {
// 	margin-top: var(--wp--custom--spacing--small);
// 	margin-block-start: var(--wp--custom--spacing--small);
// }

// スペーサーブロックの次の要素の上部には margin-top が自動的に 0 になるようにする
// Delete margin-top from next element of spacer block
:is(.wp-block-spacer, .vk_spacer)+ :is(*) {
	margin-top: 0;
	margin-block-start: 0;
}

body .is-layout-constrained > * + *,
body .is-layout-flow > * + .wp-block-spacer {
	margin-top:0;
}