h1,h2,h3,h4,h5,h6 {
	// margin = Ideal margin - half-leading（ (line-height - 1em ) /2 ）
	--wp--style--block-gap: calc( 1.5em - ( ( var(--wp--custom--typography--line-height--heading) - 1em ) / 2 ) );
}
:is( h1,h2,h3,h4,h5,h6 ) + :is( h2,h3,h4,h5,h6 ){
	--wp--style--block-gap: calc( 1em - ( ( var(--wp--custom--typography--line-height--heading) - 1em ) / 2 ) );
}
:is( h1,h2,h3,h4,h5,h6 ) + :id( p, ul, ol, dl ) {
	--wp--style--block-gap:1rem;
}
p {
	// margin = Ideal margin - half-leading（ (line-height - 1em ) /2 ）
	--wp--style--block-gap: calc( 1.5em - ( ( var(--wp--custom--typography--line-height--normal) - 1em ) / 2 ) );
}
