html {
	height: 100%;
}

footer.wp-block-template-part {
	position: sticky;
	top: 100vh;
	// scrolled-header-fixed は 9999 になっている
	// フッター要素が固定ヘッダーの上にならないように 9998 にしておく
	// scrolled-header-fixed is 9999, so set 9998 to avoid footer element on fixed header.
	z-index:9998;
	// モーダルが固定ヘッダーの下にならないように、開いてる時は 9999 に指定
	// to avoid modal element on fixed header, set 9999 when modal is open.
	html.has-modal-open:not(:has(.is-menu-open)) & {
		z-index:9999;
	}
}
