.wp-block-site-title {
	a {
		text-decoration-color:var(--wp--preset--color--border-normal);
		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-decoration-color:var(--wp--preset--color--text-normal);
		}
	}
}