.site-logo--set {
	display: grid;

	.wp-block-site-logo {
		img {
			width: auto;
			height: clamp(32px, calc((100vw - 360px) * (48 / (1200 - 360)) + 32px), 80px);
		}
	}

	.wp-block-site-title {
		font-size: clamp(12px, calc((100vw - 360px) * (10 / (1200 - 360)) + 12px), 22px);
	}

	.wp-block-site-tagline {
		line-height: 1.4;
		font-size: clamp(10px, calc((100vw - 360px) * (4 / (1200 - 360)) + 10px), 14px);
	}
}