.wp-block-site-title {
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-decoration-color: var(--wp--preset--color--text-normal);
		}
	}
}

.scrolled-header-fixed {
	position: fixed;
	z-index: 9999;
	width: 100vw;
	transition: all 0.5s ease-out;
	top: -200px;

	&.wp-block-group {
		overflow: visible;
	}

	.header-fixed-active & {
		top: 0;

		@media (min-width:601px) {
			top: var(--wp-admin--admin-bar--height);
		}
	}

	.edit-site-block-editor__block-list & {
		position: relative;
		top: 0;
	}
}