.wp-block-site-title {
	font-weight: bold;
	line-height: var(--wp--custom--typography--line-height--heading);

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-decoration-color: var(--wp--preset--color--text-normal);
		}
	}
}