/****************************************************** 
 * Navigation Styles
 */

 /*

// HTML hierarchy
.wp-block-navigation {
	.wp-block-navigation__responsive-container {
		.wp-block-navigation__responsive-close {
			.wp-block-navigation__responsive-dialog {
				.wp-block-navigation__responsive-container-content {
					:where(.wp-block-navigation__container, .wp-block-page-list) {
						.wp-block-navigation-item {
							.wp-block-navigation-item__content {}
						}
					}
				}
			}
		}
	}
}

Overlay : off ***********************
.wp-block-navigation
	& > ul.wp-block-navigation__container

Overlay : mobile ***********************
.wp-block-navigation
	& > .wp-block-navigation__responsive-container.has-modal-open
		.wp-block-navigation__responsive-container-content
			& > .wp-block-navigation__container.is-responsive

Overlay : allways ***********************
.wp-block-navigation
	& >.wp-block-navigation__responsive-container.has-modal-open
		.wp-block-navigation__responsive-container-content
			& > .wp-block-navigation__container.is-responsive
*/


.wp-block-navigation {

	// Cope with mobile menu in align right
	&.items-justified-right {
		&> :where(button) {
			float: right;
		}
	}

	--submenu-icon-size: 12px;
	--nav-top-item-padding-horizontal: 0.9em;

	:where( .wp-block-navigation-item__content ) {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	:where(.wp-block-navigation__container, .wp-block-page-list) {
		&>.wp-block-navigation-item {
			&>a {
				padding-right: var(--nav-top-item-padding-horizontal);
			}
		}
	}
	.wp-block-navigation-item {
		font-size: var(--wp--preset--font-size--small);
	}

	// PC Menu style /////////////////////
	// Overlay : mobile ( Wide screen )
	&__responsive-container:where(:not(.has-modal-open)) :is( .wp-block-navigation__container, .wp-block-page-list),
	// Overlay : off（ It is now positioned directly below .wp-block-navigation. ）
	& > :where( .wp-block-navigation__container, .wp-block-page-list) {
		&>.wp-block-navigation-item {
			// display: grid;
			position: relative;
			white-space: nowrap;

			&>a {
				grid-area: 1/-1;
			}

			&>:where(.wp-block-navigation__submenu-icon) {
				grid-area: 1/-1;
				justify-self: end;
				width: var(--submenu-icon-size);
				height: var(--submenu-icon-size);
				margin-right: var(--nav-top-item-padding-horizontal);
				display: block;

				&[aria-expanded=true] {
					svg {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	// Mobile menu open toggle button
	& &__responsive-container-open {
		border: 1px solid var(--wp--preset--color--text-normal);
		padding: 2px;
	}
}

/*-------------------------------------------*/
/*   Navigation Item description
/*-------------------------------------------*/
// .wp-block-navigation にすると編集画面で効かなくなるので .wp-block-navigation__container にしている
.wp-block-navigation__container{
	// Display the description only when the parent is a navigation item.
	& > :where(.wp-block-navigation-item) > :where(.wp-block-navigation-item__content) > 
	.wp-block-navigation-item__description {
		display: block;
	}
	.wp-block-navigation-item__description {
		font-size: 11px;
		opacity: 0.6;
	}
	&.items-justified-left {
		.wp-block-navigation-item__description {
			text-align: left;
		}
	}
	&.items-justified-center,
	&.items-justified-space-between { /* 項目の間隔 */
		.wp-block-navigation-item__description {
			text-align: center;
		}
	}
	&.items-justified-right {
		.wp-block-navigation-item__description {
			text-align: right;
		}
	}
}

/****************************************************** 
 * Sub Navigation Styles
 */
.wp-block-navigation {
	&:not(.has-modal-open) {
		.wp-block-navigation__submenu-container {
			header & {
				z-index: 99999; // .crolled-header-fixed specified z-index: 9999; so If less than 9999 that submenu loses to the fix header in the edit screen
			}

			.wp-block-navigation-item {
				&__content {
					font-size: var(--wp--preset--font-size--x-small);
					padding: 1em 1.5em;
				}
			}

		}
		.wp-block-navigation__submenu-container{
			&:where(.has-background){
				padding:unset; // Cancel the padding added by the WordPress core
			}
		}
	}
	&.has-modal-open{ // Adjusted to override WordPress core CSS. (for VK Pattern Library)
		&.has-background.has-vk-color-primary-background-color{
			background-color: var(--wp--preset--color--primary);
		}
	}
}

/****************************************************** 
 * Navigation Modal Styles
 */
.has-modal-open {
	:where(.wp-block-navigation__container, .wp-block-page-list) {
		--wp--style--block-gap: 0;
		gap: 0;
		&,
		li,
		li .wp-block-navigation-item__content {
			width: 100%;
			display: block;
		}

		li .wp-block-navigation-item__content {
			border-bottom: 1px solid var(--wp--preset--color--border-normal);
		}

		li.has-child .wp-block-navigation__submenu-container {
			width: 100%;
		}

		.current-menu-item .wp-block-navigation-item__content,
		.wp-block-navigation-item__content:hover {
			background-color: var(--wp--preset--color--bg-light-gray);
		}
	}

	// .wp-block-navigation-item .wp-block-site-logo a {
	// 	padding: 1em var(--wp--custom--spacing--menu-indent);
	// }

	.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
		.wp-block-navigation-item {
			.wp-block-navigation-item__content {
				padding: 1em;
				padding-left: var(--wp--custom--spacing--menu-indent);
			}

			li .wp-block-navigation-item__content {
				padding-left: calc(var(--wp--custom--spacing--menu-indent) * 2);
			}

			li li .wp-block-navigation-item__content {
				padding-left: calc(var(--wp--custom--spacing--menu-indent) * 3);
			}
		}

		:where(.wp-block-navigation__container, .wp-block-page-list) {

			.has-child .submenu-container,
			.has-child .wp-block-navigation__submenu-container {
				width: 100%;
				padding: 0;
			}
		}
	}
}

/****************************************************** 
 *  Horizontal Navigation common styles
 */
 .wp-block-navigation:where(:not(.is-vertical,.is-style-nav--vertical-with-hr-and-no-fold,.is-style-nav--vertical-with-hr )) {
	.wp-block-navigation-item__content {
		padding-left: var(--nav-top-item-padding-horizontal);
	}
	&:not(.has-background) .wp-block-navigation__submenu-container,
	.wp-block-navigation__submenu-container{
		border: none; // コアが border を付与してくるので打ち消す
	}
	.wp-block-navigation__submenu-container{
		&.has-vk-color-primary-background-color{ // Adjusted to override WordPress core CSS. (for VK Pattern Library)
			background-color: var(--wp--preset--color--primary);
		}
		&:where(:not(.has-background)) {
			.wp-block-navigation-item {
				background-color: var(--wp--preset--color--primary);
			}
		}
		.wp-block-navigation-item {
			border-bottom: 1px solid var(--wp--preset--color--border-normal-darkbg);
			&:hover {
				background-color: var(--wp--preset--color--primary-hover);
			}
			*:where(:not(.is-style-nav--text-inline)) &.has-child>a {
				// Additional Padding for submenu-icon
				padding-right: calc(var(--submenu-icon-size) + var(--nav-top-item-padding-horizontal) + 0.5em);
			}
		}
		&:where(:not(.has-text-color)) {
			.wp-block-navigation-item {
				color: #fff; // No relation under Bright BG and Dark BG
			}
		}
	}
 }
/****************************************************** 
 *  Vertical Navigation common styles
 */
 :where( .wp-block-navigation.is-vertical ) {
	// nothing now
}
