/*
 * Navigation Additonal class
 */

@use 'variables' as var;

.nav--open--lg-up {
	@media (min-width: var.$lg-min) {

		// 閉じるボタンを非表示にする
		// Change to hidden close button
		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
			display: none;
		}

		// メニュー部分を表示にする
		// Change to display navigation
		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
			display: block;
			// Default propaties
			// width: 100%;
			// position: relative;
			// z-index: auto;
			// background-color: inherit;
		}
	}

	@media (max-width: var.$md-max) {

		// 閉じるボタンを表示にする
		// Change to display close button
		.wp-block-navigation__responsive-container-open:not(.always-shown) {
			display: block;
		}

		// メニュー部分を非表示にする
		// Change to hidden navigation
		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

/******************************************************
 * active-border-bottom
 */

 .wp-block-navigation[class*='nav--active-border-bottom'] {
	// Overlay : mobile ( Wide screen )
	.wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation__responsive-container-content > .wp-block-navigation__container,
	// Overlay : off（ It is now positioned directly below .wp-block-navigation. ）
	& > :where( .wp-block-navigation__container, .wp-block-page-list ) {
			&>.wp-block-navigation-item {
				&>a {
					padding-top: 1em;
					padding-bottom: 1em;
				}

				&>a::after {
					transition: all 0.2s ease-out;
					width: 0%;
					content: '';
					display: block;
					bottom: 0;
					left: 0;
					position: absolute;
					border-bottom: 2px solid var(--wp--preset--color--primary);
				}

				&> :is(a:hover, .current-menu-item > a, .current-menu-ancestor) {
					&::after {
						width: 100%;
					}
				}
			}
		}
}

/******************************************************
 * Text inline
 is-style-nav--text-inline

	nav.wp-block-navigation.is-style-nav--text-inline
	> .wp-block-navigation__responsive-container.is-menu-open.has-modal-open
	. wp-block-navigation__container

 */
*[class*='nav--text-inline'] {
	--nav--text-inline--border: var(--wp--preset--color--border-normal);

	&.nav--darkbg {
		--nav--text-inline--border: var(--wp--preset--color--border-normal-darkbg);
	}

	// PC Mode ( * Display 1st level only )
	.wp-block-navigation__responsive-container:where( :not(.is-menu-open) ), // Overlay close
	& > :where( ul.wp-block-navigation__container ) { // No overlay mode
		.wp-block-navigation-item {
			border-left: 1px solid var(--nav--text-inline--border);
			&:last-child {
				border-right: 1px solid var(--nav--text-inline--border);
			}
			.wp-block-navigation__submenu-icon {
				display: none;
			}
		}
		&>.wp-block-navigation-item {
			&:last-child {
				border-right: 1px solid var(--nav--text-inline--border);
			}

			a:hover {
				text-decoration: underline;
			}
		}
		:where( .wp-block-navigation-item__content ) {
			padding-top: 0;
			padding-bottom: 0;
		}
		// Dusable sub menu
		.has-child .wp-block-navigation__submenu-container {
			display: none;
		}
	}

	// Modal open
	&>.wp-block-navigation__responsive-container {
		&.is-menu-open {
			.wp-block-navigation-item {
				border-left: none;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
}

/******************************************************
 * Vertical with hr ( submenu animation 以外 )
 */
 .wp-block-navigation[class*='nav--vertical-with-hr'] {
	--wp--custom--spacing--menu-indent: 0.8em;
	width:100%;
	.wp-block-navigation-item {
		width: 100%;
		justify-content: space-between;
		display:flex;
		flex-wrap: wrap;
		margin: 0;
		border-top: 1px solid var(--wp--preset--color--border-normal);
		&.has-text-normal-darkbg-color {
			&>.wp-block-navigation-item__content,
			&>a.wp-block-navigation-item__content {
				border-bottom: 1px solid var(--wp--preset--color--border-normal-darkbg);
			}
		}
		&__content {
			padding: 0.8em;
		}
		.wp-block-navigation-item >.wp-block-navigation__submenu-icon {
			margin-right: var(--nav-top-item-padding-horizontal);
			& > svg {
				transform: rotate(0deg);
			}
			&[aria-expanded=true] {
				& > svg {
					transform: rotate(180deg);
				}
			}
		}
	}
	.wp-block-navigation__submenu-container {
		border: none; // コアが border を付与してくるので打ち消す
		position: relative; // コア打ち消し
		flex-basis: 100%; // サブメニューは折り返して横幅100%にするため
		.wp-block-navigation-item {
			.wp-block-navigation-item__content {
				padding-left: calc(var(--wp--custom--spacing--menu-indent) * 2);
			}
			.wp-block-navigation-item .wp-block-navigation-item__content {
				padding-left: calc(var(--wp--custom--spacing--menu-indent) * 3);
			}
		}
	}
	@media (min-width: 782px) {
		.has-child .wp-block-navigation__submenu-container {
			left: 0;
		}
	}
}

/****************************************************** 
 * Vertical with hr submenu animation
 */
 .wp-block-navigation[class*='nav--vertical-with-hr'] {
	.has-child .wp-block-navigation__submenu-container {
		display: grid;
		transition: all 1s ease-out;
		overflow: hidden;
		height:unset;
		max-height:0vh;
	}
	.has-child:hover > .wp-block-navigation__submenu-container {
		max-height:80svh;
		overflow-y: scroll;
	}
}