/* 
 * Navigation Styles
 */
 .wp-block-navigation {
	& &__submenu-icon {
		margin-left:0.5em;
	}
	&__container {
		--wp--style--block-gap: var(--wp--custom--spacing--medium);
		> li > a {
			white-space: nowrap;
		}
	}
}
/* 
 * Sub Navigation Styles
 */
.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container{
	color:var(--wp--preset--color--text-normal-darkbg);
	border:none;
}
.wp-block-navigation__submenu-container {
	.wp-block-navigation & {
		padding-top:0.5em;
	}
	.wp-block-navigation-item__content{
		&:hover{
			background-color:var(--wp--preset--color--primary-hover);
		}
	}
	.wp-block-navigation-link {
		background-color:var(--wp--preset--color--primary);
		border-bottom:1px solid var( --wp--preset--color--border-normal-darkbg );
	}
	.wp-block-navigation-item__content {
		font-size:var(--wp--preset--font-size--x-small);
		padding: 1em 1.5em;	
	}
}