/* 
 * Navigation Additonal class
 */

@use "variables" as var;

.nav--open--lg-up {
	@media (min-width: var.$lg-min) {

		// 閉じるボタンを非表示にする
		// Change to hidden close button
		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
			display: none;
		}

		// メニュー部分を表示にする
		// Change to display navigation
		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
			display: block;
			// Default propaties
			// width: 100%;
			// position: relative;
			// z-index: auto;
			// background-color: inherit;
		}
	}

	@media (max-width: var.$md-max) {

		// 閉じるボタンを表示にする
		// Change to display close button
		.wp-block-navigation__responsive-container-open:not(.always-shown) {
			display: block;
		}

		// メニュー部分を非表示にする
		// Change to hidden navigation
		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

/****************************************************** 
 * active-border-bottom
 */

*[class*="nav--active-border-bottom"] {
	.wp-block-navigation__responsive-container:where(:not(.is-menu-open)) {
		:where(.wp-block-navigation__container, .wp-block-page-list) {
			gap: 0;

			&>.wp-block-navigation-item {
				&>a {
					padding-top: 1em;
					padding-bottom: 1em;
				}

				&>a::after {
					transition: all 0.2s ease-out;
					width: 0%;
					content: "";
					display: block;
					bottom: 0;
					left: 0;
					position: absolute;
					border-bottom: 2px solid var(--wp--preset--color--primary);
				}

				&> :is(a:hover, .current-menu-item > a) {
					&::after {
						width: 100%;
					}
				}
			}
		}
	}
}

/****************************************************** 
 * Text inline
 */
*[class*="nav--text-inline"] {
	--nav--text-inline--border: var(--wp--preset--color--border-normal);

	&.nav--darkbg {
		--nav--text-inline--border: var(--wp--preset--color--border-normal-darkbg);
	}

	:where(.wp-block-navigation__container, .wp-block-page-list) {
		gap: 0;

		&>.wp-block-navigation-item {
			border-left: 1px solid var(--nav--text-inline--border);

			&:last-child {
				border-right: 1px solid var(--nav--text-inline--border);
			}

			&>a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

/****************************************************** 
 * Vertical with hr
 */
*[class*="nav--vertical-with-hr"] {
	--wp--custom--spacing--menu-indent: 0.8em;

	.wp-block-navigation-item {
		margin: 0;

		&>.wp-block-navigation-item__content,
		&>a.wp-block-navigation-item__content {
			padding: 0.8em;
			border-bottom: 1px solid var(--wp--preset--color--border-normal);
		}

		.wp-block-navigation__submenu-container {
			display: block;
			height: auto;
			width: 100%;

			.wp-block-navigation-item {
				.wp-block-navigation-item__content {
					padding-left: calc(var(--wp--custom--spacing--menu-indent) * 2);
				}

				.wp-block-navigation-item .wp-block-navigation-item__content {
					padding-left: calc(var(--wp--custom--spacing--menu-indent) * 3);
				}
			}
		}
	}
}

/****************************************************** 
 * Vertical text list
 */
*[class*="nav--vertical-text-list"] {

	.wp-block-navigation-item,
	.wp-block-navigation-item.wp-block.block-editor-block-list__block {
		margin-top: 0.8em;

		a:hover {
			text-decoration: underline;
		}
	}

	.wp-block-navigation__submenu-container {
		margin-left: var(--wp--custom--spacing--menu-indent);
	}
}