/****************************************************** 
 * Navigation Styles
 */

 .wp-block-navigation.is-vertical {
	.has-child .wp-block-navigation__submenu-container {
		display: grid;
		transition: all 1s ease-out;
		overflow: hidden;
		height:unset;
		max-height:0vh;
	}
	.has-child:hover > .wp-block-navigation__submenu-container {
		max-height:80svh;
		overflow-y: scroll;
	}
}