/* 
 * Navigation Styles
 */

 .wp-block-navigation {

	// Cope with mobile menu in align right
	&.items-justified-right {
		&> :where(button) {
			float: right;
		}
	}

	--submenu-icon-size: 12px;
	--nav-top-item-padding-horizontal: 0.9em;

	:where(.wp-block-navigation__container, .wp-block-page-list) {
		&>.wp-block-navigation-item {
			&>a {
				padding-left: var(--nav-top-item-padding-horizontal);
				padding-right: var(--nav-top-item-padding-horizontal);
			}
		}
	}

	// PC Menu style
	&__responsive-container:where(:not(.has-modal-open)) {

		// :where(.wp-block-navigation__container, 
		// .wp-block-page-list) {
		.wp-block-navigation__container>.wp-block-navigation-item {
			display: grid;
			position: relative;
			white-space: nowrap;

			&>a {
				grid-area: 1/-1;
			}

			*:where(:not(.is-style-nav--text-inline)) &.has-child>a {
				// Additional Padding for submenu-icon
				padding-right: calc(var(--submenu-icon-size) + var(--nav-top-item-padding-horizontal) + 0.5em);
			}

			&>.wp-block-navigation__submenu-icon {
				grid-area: 1/-1;
				justify-self: end;
				width: var(--submenu-icon-size);
				height: var(--submenu-icon-size);
				margin-right: var(--nav-top-item-padding-horizontal);
				display: block;

				&[aria-expanded=true] {
					svg {
						transform: rotate(180deg);
					}
				}
			}
		}

		// }
	}

	// Mobile menu open toggle button
	& &__responsive-container-open {
		border: 1px solid var(--wp--preset--color--text-normal);
		padding: 2px;
	}
}

/* 
 * Sub Navigation Styles
 */
.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
	border: none; // コアが border を付与してくるので打ち消す
}

.wp-block-navigation {
	&:not(.has-modal-open) {
		.wp-block-navigation__submenu-container {
			z-index: 99999; // .crolled-header-fixed specified z-index: 9999; so If less than 9999 that submenu loses to the fix header in the edit screen

			.wp-block-navigation-item {
				border-bottom: 1px solid var(--wp--preset--color--border-normal-darkbg);
				&:hover {
					background-color: var(--wp--preset--color--primary-hover);
				}

				&__content {
					font-size: var(--wp--preset--font-size--x-small);
					padding: 1em 1.5em;
				}
			}
			
			&.has-vk-color-primary-background-color{ // Adjusted to override WordPress core CSS. (for VK Pattern Library)
				background-color: var(--wp--preset--color--primary);
			}
			
		}
		.wp-block-navigation__submenu-container{
			&:where(:not(.has-background)) {
				.wp-block-navigation-item {
					background-color: var(--wp--preset--color--primary);
				}
			}
			&:where(:not(.has-text-color)) {
				.wp-block-navigation-item {
					color: #fff; // No relation under Bright BG and Dark BG
				}
			}
			&:where(.has-background){
				padding:unset; // Cancel the padding added by the WordPress core
			}
		}
	}
	&.has-modal-open{ // Adjusted to override WordPress core CSS. (for VK Pattern Library)
		&.has-background.has-vk-color-primary-background-color{
			background-color: var(--wp--preset--color--primary);
		}
	}
}
 
footer .wp-block-navigation .wp-block-navigation__submenu-container {
	width: 100%;

	.wp-block-navigation-item {

		.wp-block-navigation-item a:not(.wp-element-button),
		.wp-block-navigation-submenu a:not(.wp-element-button),
		.wp-block-navigation-submenu button.wp-block-navigation-item__content,
		.wp-block-pages-list__item button.wp-block-navigation-item__content {
			padding-top: .25rem;
			padding-bottom: .25rem;
		}
	}
}

/****************************************************** 
 * Navigation Modal Styles
 */
.has-modal-open {
	:where(.wp-block-navigation__container, .wp-block-page-list) {
		--wp--style--block-gap: 0;
		gap: 0;
		&,
		li,
		li .wp-block-navigation-item__content {
			width: 100%;
			display: block;
			box-sizing: border-box;
		}

		li .wp-block-navigation-item__content {
			border-bottom: 1px solid var(--wp--preset--color--border-normal);
		}

		li.has-child .wp-block-navigation__submenu-container {
			width: 100%;
		}

		.current-menu-item .wp-block-navigation-item__content,
		.wp-block-navigation-item__content:hover {
			background-color: var(--wp--preset--color--bg-light-gray);
		}
	}

	.wp-block-navigation-item .wp-block-site-logo a {
		padding: 1em var(--wp--custom--spacing--menu-indent);
	}

	.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
		.wp-block-navigation-item {
			.wp-block-navigation-item__content {
				padding: 1em;
				padding-left: var(--wp--custom--spacing--menu-indent);
			}

			li .wp-block-navigation-item__content {
				padding-left: calc(var(--wp--custom--spacing--menu-indent) * 2);
			}

			li li .wp-block-navigation-item__content {
				padding-left: calc(var(--wp--custom--spacing--menu-indent) * 3);
			}
		}

		:where(.wp-block-navigation__container, .wp-block-page-list) {

			.has-child .submenu-container,
			.has-child .wp-block-navigation__submenu-container {
				width: 100%;
				padding: 0;
			}
		}
	}

	// HTML hierarchy
	.wp-block-navigation {
		.wp-block-navigation__responsive-container {
			.wp-block-navigation__responsive-close {
				.wp-block-navigation__responsive-dialog {
					.wp-block-navigation__responsive-container-content {
						:where(.wp-block-navigation__container, .wp-block-page-list) {
							.wp-block-navigation-item {
								.wp-block-navigation-item__content {}
							}
						}
					}
				}
			}
		}
	}
}

/****************************************************** 
 *  Vertical Navigation common styles
 */
.wp-block-navigation.is-vertical {
	:where(.wp-block-navigation__container, .wp-block-page-list) {
		--wp--style--block-gap: 0;
		gap: inherit;
		width: 100%;
	}

	> .wp-block-navigation-item {
		width: 100%;
		display: block;
		box-sizing: border-box;
	}

	.items-justified-right .wp-block-navigation-item {
		text-align: end;
	}

	.wp-block-navigation-item {
		display: block;
		box-sizing: border-box;

		.items-justified-right & {
			text-align: end;
		}

		a {
			padding: 0;
		}
	}

	.wp-block-navigation-item {
		position: relative;
	}
	
	.wp-block-navigation__submenu-container {
		display: block;
		height: auto;
		width: 100%;
		position: absolute;
		opacity: 1;
		visibility: hidden;
		color: initial;
		transition: opacity .1s linear;
	}

	@media (min-width: 782px) {
		.has-child .wp-block-navigation__submenu-container {
			left: 0;
		}
	}
}
