.is-style-main-layout-sidebar {
	h4 {
		font-size:var(--wp--preset--font-size--large);
		padding-top:0.5em;
		padding-bottom:0.4em;
		padding-left:var(--wp--custom--spacing--menu-indent);
		padding-right:var(--wp--custom--spacing--menu-indent);
		background-color: var(--wp--preset--color--bg-secondary);
		a {
			text-decoration: none;
		}
	}
	select {
		width:100%;
	}
}