.is-style-main-layout-sidebar {
	h4 {
		padding:var(--wp--custom--spacing--xx-small);
		padding-left:var(--wp--custom--spacing--menu-indent);
		padding-right:var(--wp--custom--spacing--menu-indent);
		background-color: var(--wp--preset--color--bg-secondary);
	}
}