:root {
	// --wp--custom--typography--line-height--normal: 1.75em;
	// --wp--custom--typography--line-height--heading: 1.5em;
}
html{

	// 360px : 14px -> 1200px : 16px
	font-size:clamp( 14px, calc( ( 100vw - 360px ) * ( 2 / ( 1200 - 360 ) ) + 14px ), 16px );

}
html:where(:not([lang="ja"])) {
	// 360px : 1px -> 1200px : 14px
	// font-size:calc( ( 100vw - 360px ) * ( 2 / ( 1200 - 360 ) ) + 16px );
}
body {
	font-weight: 500;
	line-height: var(--wp--custom--typography--line-height--normal);
}

h1,h2,h3,h4,h5,h6 {
	line-height: var(--wp--custom--typography--line-height--heading);

	// margin = Ideal margin - half-leading（ (line-height - 1em ) /2 ）
	--wp--style--block-gap: calc( 1.5em - ( ( var(--wp--custom--typography--line-height--heading) - 1em ) / 2 ) );
}
:is( h1,h2,h3,h4,h5,h6 ) + :is( h2,h3,h4,h5,h6 ){
	--wp--style--block-gap: calc( 1em - ( ( var(--wp--custom--typography--line-height--heading) - 1em ) / 2 ) );
}
:is( h1,h2,h3,h4,h5,h6 ) + :id( p, ul, ol, dl ) {
	--wp--style--block-gap:1rem;
}
p {
	// margin = Ideal margin - half-leading（ (line-height - 1em ) /2 ）
	--wp--style--block-gap: calc( 1.5em - ( ( var(--wp--custom--typography--line-height--normal) - 1em ) / 2 ) );
}