$xs-max: 575.98px;
$sm-max: 767.98px;
$md-max: 991.98px;
$lg-max: 1199.98px;
$xl-max: 1399.98px;

$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$xxl-min: 1400px;

body {
	--vk-size-radius: var(--wp--custom--radius--button);
	--vk-color-border-light: var(--wp--preset--color--border-normal);
	// cope with VK Blocks
	--wp--preset--color--vk-color-primary: var(--wp--preset--color--primary);
}

/*-----------------------------------------------------------------------------------
 * 親のラッパーで背景が濃い場合用のテキスト色が指定されている場合に、通常の色をDarkBG用の色で上書きする
 */
.has-text-normal-darkbg-color {
	--wp--preset--color--border-normal: var(--wp--preset--color--border-normal-darkbg);
	--wp--preset--color--text-normal: var(--wp--preset--color--text-normal-darkbg);
	--wp--preset--color--text-secondary: var(--wp--preset--color--text-secondary-darkbg);
}