@charset "utf-8";
/**
 * edit.css
 * Edit screen override
 */
 .is-root-container {
	max-width: var(--wp--custom--content-size--normal);
	margin-left:auto;
	margin-right:auto;
 }

.block-editor-block-list__layout.is-root-container > *.wp-block{
	max-width:100%;
 }