@charset "utf-8";

@import "variables";
@import "ulitilies";
@import "common";
@import "common_margin-vertical";
@import "block";
@import "block_width";
@import "block_styles";
@import "query";
@import "pagenation";
@import "button";
@import "navigation";
@import "navigation_additional-class";
@import "header";
@import "header_additional-class";
@import "footer";
@import "sidebar";
@import "plugin-override/bootstrap-override";
@import "plugin-override/veu-override";
@import "plugin-override/vk-blocks-override";

html {
	height: 100%; // to be footer bottom sticky

	@media (min-width:601px) {
		height: calc(100% - var(--wp-admin--admin-bar--height, 0px));
	}
}

// :not([data-resizable-iframe-connected=""] を追加した理由は、iframe からこの指定を除外するためです。
// body に height:100%; が効いてしまうと、例えば Google Map の埋め込みコードを入れた場合、
// 編集画面で地図のプレビューが表示されない。
// Reason of added :not([data-resizable-iframe-connected=""] is to be exclude this specification from iframe.
// If the height:100%; affect to all body tag that, for example, If you put in Google Map's iframe tag,
// it become to not display preview on editor.
body:where(:not([data-resizable-iframe-connected=""])),
.wp-site-blocks {
	height: 100%; // to be footer bottom sticky
}

/*
.has-background is automatically added padding by core.
padding: 1.25em 2.375em;
but actually not added case exist that reset padding to be aboid confusing.
*/
.has-background,
:is(.wp-block-group):where(.has-background) {
	padding: 0; // 編集画面の枠線ブロックなど弊害が出るのでこの指定は解除したい
	// Don't use hidden. Because it bring to header navigation sub menu hidden.
	// overflow: hidden; 
}

.wp-block-button .has-background {
	overflow: inherit; // cope with multiple buttons
}

body:not(.admin-bar) {
	--wp-admin--admin-bar--height: 0;
}