@charset "utf-8";

@import "variables";
@import "size";
@import "common";
@import "block";

/*************************************
ulitilies
*/

.mt-0 {
	margin-top:0 !important;
}
.mt-xs {
	margin-top: var(--wp--custom--spacing--small);
}
.mt-s {
	margin-top: var(--wp--custom--spacing--small);
}
.mt-m {
	margin-top: var(--wp--custom--spacing--medium);
}
.mt-l {
	margin-top: var(--wp--custom--spacing--medium);
}
.mt-xl {
	margin-top: var(--wp--custom--spacing--medium);
}

footer {
	.wp-block-navigation {
		font-size:var(--wp--preset--font-size--small);
	}
}