@charset "utf-8";

@import "variables";
@import "ulitilies";
@import "common";
@import "common_margin-vertical";
@import "block";
@import "block_width";
@import "block_additional-class";
@import "query";
@import "pagenation";
@import "button";
@import "navigation";
@import "navigation_additional-class";
@import "header";
@import "header_additional-class";
@import "footer";

html{
	height:100%; // to be footer bottom sticky
	@media ( min-width:601px ) {
		height:calc( 100% - var(--wp-admin--admin-bar--height) );
	}
}
body,
.wp-site-blocks{
	height:100%; // to be footer bottom sticky
}

/*
.has-background is automatically added padding by core.
padding: 1.25em 2.375em;
but actually not added case exist that reset padding to be aboid confusing.
*/
.has-background,
:is(.wp-block-group):where(.has-background){
	padding: 0; // 編集画面の枠線ブロックなど弊害が出るのでこの指定は解除したい
	overflow: hidden; // cope with height
}
.wp-block-button .has-background{
	overflow: inherit; // cope with multiple buttons
}

body:not(.admin-bar) {
	--wp-admin--admin-bar--height:0;
}