.veu_card {
	.pageList li {
		margin-top:0;
	}
}
.veu_pageList_ancestor {
	.pageList_ancestor_title {
		margin-bottom:0;
	}
	a {
		text-decoration: none;
	}
}
.veu_socialSet.veu_contentAddSection ul li {
	margin-top:0;
	margin-left:0;
	margin-right:0;
}