// Cope with VK Button Block hover color
.vk_button .is-style-outline:hover.has-vk-color-primary-color{
	&,
	.editor-styles-wrapper & {
		--wp--preset--color--vk-color-primary:var(--wp--preset--color--primary-hover);
	}
}
// Cope with post list block title
.postListText_title a,
.vk_post_title > a {
	text-decoration: none;
}

/*-------------------------------------------*/
/* vk_outer
/*-------------------------------------------*/
.vk_outer-paddingLR-zero .vk_outer_container > .alignwide {
	max-width: var(--wp--style--global--wide-size);
	margin-left:auto !important;
	margin-right:auto !important;
}
.vk_outer-width-full:where(:not(.vk_outer-paddingLR-zero)) {
	.vk_outer_container > .alignwide,
	.vk_outer_container .block-editor-block-list__layout > .alignwide
	 {
		width: calc(100% + (100vw - 100%) / 2);
		margin-left: calc((100% - 100vw) / 4) !important;
		margin-right: calc((100% - 100vw) / 4) !important;
	}
}
/*-------------------------------------------*/
/* vk_slider
/*-------------------------------------------*/
.vk_slider {
	&.alignfull {
		width: 100vw;
	}
}

/*-------------------------------------------*/
/* vk_icon
/*-------------------------------------------*/
// VK Blocks が display:inline-block 指定してある。
// しかし inline-block　では下部に余白ができてしまうので flex に変更
// 2023年7月末頃まで運用して問題なければ VK Blocks に反映してこちらは削除する
.wp-block-vk-blocks-icon {
	.vk_icon_frame {
		display: flex;
		.vk_icon_link {
			display: flex;
			.vk_icon_border {
				display: flex;
			}
		}
		&.text-center {
			justify-content: center;
		}
		&.text-right {
			justify-content: right;
		}
	}
}