<!-- wp:template-part {"slug":"header","theme":"x-t9","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0">
	<!-- wp:cover {"overlayColor":"bg-secondary","minHeight":50,"isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0","bottom":"0"}}}} -->
	<div class="wp-block-cover alignfull is-light"
		style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;min-height:50px">
		<span aria-hidden="true"
			class="wp-block-cover__background has-bg-secondary-background-color has-background-dim-100 has-background-dim"></span>
		<div class="wp-block-cover__inner-container">
			<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"0","right":"var:preset|spacing|50","bottom":"0","left":"var:preset|spacing|50"}},"border":{"bottom":{"color":"var:preset|color|border-normal","width":"1px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
			<div class="wp-block-group"
				style="border-bottom-color:var(--wp--preset--color--border-normal);border-bottom-width:1px;padding-top:0;padding-right:var(--wp--preset--spacing--50);padding-bottom:0;padding-left:var(--wp--preset--spacing--50)">
				<!-- wp:spacer {"className":"is-style-spacer-md"} -->
				<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-md"></div>
				<!-- /wp:spacer -->

				<!-- wp:heading {"textAlign":"center","level":1,"textColor":"text-normal","className":"has-bg-light-gray-background-color"} -->
				<h1 class="has-text-align-center has-bg-light-gray-background-color has-text-normal-color has-text-color"
					id="404-not-found">404</h1>
				<!-- /wp:heading -->

				<!-- wp:spacer {"className":"is-style-spacer-md"} -->
				<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-md"></div>
				<!-- /wp:spacer -->
			</div>
			<!-- /wp:group -->
		</div>
	</div>
	<!-- /wp:cover -->

	<!-- wp:spacer {"className":"is-style-spacer-lg"} -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-xl"></div>
	<!-- /wp:spacer -->

	<!-- wp:pattern {"slug":"x-t9/hidden-404"} /-->

	<!-- wp:spacer {"className":"is-style-spacer-xl"} -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-xl"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"x-t9","tagName":"footer"} /-->