<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"mt-0","layout":{"inherit":true}} -->
<main class="wp-block-group mt-0"><!-- wp:pattern {"slug":"x-t9/general-featured-media-and-text"} /-->	
<!-- wp:spacer {"height":60} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:pattern {"slug":"x-t9/general-columns-menu"} /-->
<!-- wp:pattern {"slug":"x-t9/query-media"} /-->
<!-- wp:pattern {"slug":"x-t9/general-featured-post-list"} /--><!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->