<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"mt-0","layout":{"inherit":true}} -->
<main class="wp-block-group mt-0"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"bg-light-gray","className":"page-header"} -->
	<div class="wp-block-group alignfull page-header has-bg-light-gray-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group"><!-- wp:spacer {"height":"","className":"is-style-spacer-lg"} -->
	<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:heading {"textAlign":"center","level":1} -->
	<h1 class="has-text-align-center">Information</h1>
	<!-- /wp:heading -->
	
	<!-- wp:spacer {"height":"","className":"is-style-spacer-lg"} -->
	<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
	<!-- /wp:spacer --></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:separator {"align":"full","backgroundColor":"border-normal","className":"is-style-wide"} -->
	<hr class="wp-block-separator alignfull has-text-color has-border-normal-color has-alpha-channel-opacity has-border-normal-background-color has-background is-style-wide"/>
	<!-- /wp:separator -->

	<!-- wp:spacer {"height":"","className":"is-style-spacer-xl"} -->
	<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-xl"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:columns {"className":"main-layout"} -->
	<div class="wp-block-columns main-layout"><!-- wp:column {"width":""} -->
	<div class="wp-block-column">

	<!-- wp:template-part {"slug":"loop-archive","theme":"x-t9","tagName":"div"} /-->

	</div>
	<!-- /wp:column -->

	<!-- wp:column {"width":"220px"} -->
	<div class="wp-block-column" style="flex-basis:220px">
	<!-- wp:template-part {"slug":"sidebar-post","theme":"x-t9","tagName":"aside"} /-->
	</div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->

	<!-- wp:spacer {"height":"","className":"is-style-spacer-xl"} -->
	<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-xl"></div>
	<!-- /wp:spacer -->

	</main>
	<!-- /wp:group -->
	
	<!-- wp:spacer {"height":"","className":"is-style-spacer-xl"} -->
	<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-xl"></div>
	<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->