<!-- wp:template-part {"slug":"header","theme":"x-t9","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"mt-0","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group mt-0">
	<!-- wp:cover {"overlayColor":"bg-secondary","minHeight":50,"isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"0","right":"var:preset|spacing|50","bottom":"0","left":"var:preset|spacing|50"},"margin":{"top":"0","bottom":"0"}}}} -->
	<div class="wp-block-cover alignfull is-light"
		style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--50);padding-bottom:0;padding-left:var(--wp--preset--spacing--50);min-height:50px">
		<span aria-hidden="true"
			class="wp-block-cover__background has-bg-secondary-background-color has-background-dim-100 has-background-dim"></span>
		<div class="wp-block-cover__inner-container">
			<!-- wp:spacer {"className":"is-style-spacer-md"} -->
			<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-md"></div>
			<!-- /wp:spacer -->

			<!-- wp:heading {"textAlign":"center","level":1,"textColor":"text-normal","className":"has-bg-light-gray-background-color"} -->
			<h1 class="has-text-align-center has-bg-light-gray-background-color has-text-normal-color has-text-color">
				Information</h1>
			<!-- /wp:heading -->

			<!-- wp:spacer {"className":"is-style-spacer-md"} -->
			<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-md"></div>
			<!-- /wp:spacer -->
		</div>
	</div>
	<!-- /wp:cover -->

	<!-- wp:separator {"align":"full","backgroundColor":"border-normal","className":"is-style-wide"} -->
	<hr
		class="wp-block-separator alignfull has-text-color has-border-normal-color has-alpha-channel-opacity has-border-normal-background-color has-background is-style-wide" />
	<!-- /wp:separator -->

	<!-- wp:spacer {"className":"is-style-spacer-lg"} -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
	<!-- /wp:spacer -->

	<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|70","left":"var:preset|spacing|70"}}},"className":"is-style-main-layout"} -->
	<div class="wp-block-columns is-style-main-layout">
		<!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:template-part {"slug":"loop-archive","theme":"x-t9","tagName":"div"} /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"className":"is-style-main-layout-sidebar"} -->
		<div class="wp-block-column is-style-main-layout-sidebar">
			<!-- wp:template-part {"slug":"sidebar-post","theme":"x-t9","tagName":"aside"} /-->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
	<!-- wp:spacer {"className":"is-style-spacer-xl"} -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-xl"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"x-t9","tagName":"footer"} /-->