<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"mt-0","layout":{"inherit":true}} -->
<main class="wp-block-group mt-0"><!-- wp:cover {"overlayColor":"bg-light-gray","minHeight":5,"minHeightUnit":"rem","isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"1.5em","right":"1.5em","bottom":"1.5em","left":"1.5em"}}}} -->
<div class="wp-block-cover alignfull is-light" style="padding-top:1.5em;padding-right:1.5em;padding-bottom:1.5em;padding-left:1.5em;min-height:5rem"><span aria-hidden="true" class="has-bg-light-gray-background-color has-background-dim-100 wp-block-cover__gradient-background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:post-content /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->