<!-- wp:template-part {"slug":"header","theme":"x-t9","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:template-part {"slug":"page-header-page","theme":"x-t9","tagName":"div","align":"full"} /-->

	<!-- wp:spacer {"className":"is-style-spacer-lg"} -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
	<!-- /wp:spacer -->

	<!-- wp:columns {"className":"is-style-main-layout"} -->
	<div class="wp-block-columns is-style-main-layout">
		<!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:post-content /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"className":"is-style-main-layout-sidebar"} -->
		<div class="wp-block-column is-style-main-layout-sidebar"></div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->

	<!-- wp:spacer {"className":"is-style-spacer-xl"} -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-xl"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"x-t9","tagName":"footer"} /-->