<!-- wp:template-part {"slug":"header","theme":"x-t9","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"mt-0","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group mt-0">
	<!-- wp:template-part {"slug":"page-header-single","theme":"x-t9","tagName":"div","align":"full"} /-->

	<!-- wp:spacer {"className":"is-style-spacer-lg"} -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
	<!-- /wp:spacer -->

	<!-- wp:group -->
	<div class="wp-block-group"><!-- wp:post-content {"layout":{"type":"constrained"}} /-->

		<!-- wp:spacer {"className":"is-style-spacer-lg"} -->
		<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
		<!-- /wp:spacer -->

		<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between"}} -->
		<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous"} /-->

			<!-- wp:post-navigation-link /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:spacer {"className":"is-style-spacer-lg"} -->
		<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
		<!-- /wp:spacer -->

		<!-- wp:separator {"backgroundColor":"border-normal","className":"is-style-wide"} -->
		<hr
			class="wp-block-separator has-text-color has-border-normal-color has-alpha-channel-opacity has-border-normal-background-color has-background is-style-wide" />
		<!-- /wp:separator -->

		<!-- wp:comments {"className":"wp-block-comments-query-loop "} -->
		<div class="wp-block-comments wp-block-comments-query-loop">
			<!-- wp:comments-title {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70"}}}} /-->

			<!-- wp:comment-template -->
			<!-- wp:columns -->
			<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
				<div class="wp-block-column" style="flex-basis:40px">
					<!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /-->
				</div>
				<!-- /wp:column -->

				<!-- wp:column -->
				<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

					<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
					<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
						<!-- wp:comment-date {"fontSize":"small"} /-->

						<!-- wp:comment-edit-link {"fontSize":"small"} /-->
					</div>
					<!-- /wp:group -->

					<!-- wp:comment-content /-->

					<!-- wp:comment-reply-link {"fontSize":"small"} /-->
				</div>
				<!-- /wp:column -->
			</div>
			<!-- /wp:columns -->
			<!-- /wp:comment-template -->

			<!-- wp:comments-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
			<!-- wp:comments-pagination-previous /-->

			<!-- wp:comments-pagination-numbers /-->

			<!-- wp:comments-pagination-next /-->
			<!-- /wp:comments-pagination -->

			<!-- wp:post-comments-form /-->
		</div>
		<!-- /wp:comments -->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"className":"is-style-spacer-lg"} -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
	<!-- /wp:spacer -->

	<!-- wp:columns {"style":{"spacing":{"margin":{"top":"0"},"blockGap":{"top":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
	<div class="wp-block-columns" style="margin-top:0"><!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:heading {"level":4,"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|40","bottom":"var:preset|spacing|30","left":"var:preset|spacing|40"},"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}},"backgroundColor":"bg-secondary"} -->
			<h4 class="wp-block-heading has-bg-secondary-background-color has-background"
				style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--40)">
				Category</h4>
			<!-- /wp:heading -->

			<!-- wp:categories {"showHierarchy":true} /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:heading {"level":4,"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|40","bottom":"var:preset|spacing|30","left":"var:preset|spacing|40"},"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}},"backgroundColor":"bg-secondary"} -->
			<h4 class="wp-block-heading has-bg-secondary-background-color has-background"
				style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--40)">
				Archive</h4>
			<!-- /wp:heading -->

			<!-- wp:archives /-->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->

	<!-- wp:spacer {"className":"is-style-spacer-xl"} -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-spacer-xl"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"x-t9","tagName":"footer"} /-->