<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"mt-0","layout":{"inherit":true}} -->
<main class="wp-block-group mt-0"><!-- wp:cover {"overlayColor":"bg-light-gray","minHeight":50,"isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<div class="wp-block-cover alignfull is-light" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:50px"><span aria-hidden="true" class="wp-block-cover__background has-bg-light-gray-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"","className":"is-style-spacer-lg"} -->
<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
<!-- /wp:spacer -->

<!-- wp:post-title {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"bottom":"0.25em"}}}} /-->

<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-date {"fontSize":"small"} /-->

<!-- wp:post-author {"showAvatar":false,"style":{"spacing":{"margin":{"right":"0.25em","left":"0.25em"}}},"fontSize":"small"} /-->

<!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"","className":"is-style-spacer-lg"} -->
<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:separator {"align":"full","backgroundColor":"border-normal","className":"is-style-wide"} -->
<hr class="wp-block-separator alignfull has-text-color has-border-normal-color has-alpha-channel-opacity has-border-normal-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:spacer {"height":"","className":"is-style-spacer-xl"} -->
<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-xl"></div>
<!-- /wp:spacer -->
	
<!-- wp:columns {"className":"is-style-main-layout"} -->
<div class="wp-block-columns is-style-main-layout">
<!-- wp:column -->
<div class="wp-block-column">
	
	<!-- wp:post-content /-->
	
	<!-- wp:spacer {"height":"","className":"is-style-spacer-lg"} -->
	<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between"}} -->
	<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous"} /-->
	
	<!-- wp:post-navigation-link /--></div>
	<!-- /wp:group -->
	
	<!-- wp:spacer {"height":"","className":"is-style-spacer-lg"} -->
	<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:separator {"backgroundColor":"border-normal","className":"is-style-wide"} -->
	<hr class="wp-block-separator has-text-color has-border-normal-color has-alpha-channel-opacity has-border-normal-background-color has-background is-style-wide"/>
	<!-- /wp:separator -->
	
	<!-- wp:spacer {"height":"","className":"is-style-spacer-lg"} -->
	<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-lg"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:comments-query-loop -->
	<div class="wp-block-comments-query-loop"><!-- wp:comments-title /-->
	
	<!-- wp:comment-template -->
	<!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
	<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
	<!-- /wp:column -->
	
	<!-- wp:column -->
	<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->
	
	<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
	<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->
	
	<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:comment-content /-->
	
	<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	<!-- /wp:comment-template -->
	
	<!-- wp:comments-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
	<!-- wp:comments-pagination-previous /-->
	
	<!-- wp:comments-pagination-numbers /-->
	
	<!-- wp:comments-pagination-next /-->
	<!-- /wp:comments-pagination -->
	
	<!-- wp:post-comments-form /--></div>
	<!-- /wp:comments-query-loop --></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"className":"is-style-main-layout-sidebar"} -->
	<div class="wp-block-column is-style-main-layout-sidebar">
	<!-- wp:template-part {"slug":"sidebar-post","theme":"x-t9","tagName":"aside"} /-->
	</div><!-- /wp:column -->
</div><!-- /wp:columns -->

<!-- wp:spacer {"height":"","className":"is-style-spacer-xl"} -->
<div style="height:" aria-hidden="true" class="wp-block-spacer is-style-spacer-xl"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->