@charset "utf-8";

/*-------------------------------------------*/
/*	Archive
/*-------------------------------------------*/
/*	single
/*-------------------------------------------*/

:root {
	--color-woo-image-border: #f2f2f2;
}

/* コンテント幅を使用するインナーブロック有効 幅広時 */
.woocommerce .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    margin-left: auto !important;
    margin-right: auto !important;
}

/*-------------------------------------------*/
/*	Archive
/*-------------------------------------------*/
.woocommerce {
	ul.products-block-post-template,
	ul.wp-block-woocommerce-product-template{
		li.product {
			img{
				border: 1px solid var(--color-woo-image-border);
			}
		}
	}
}

/*-------------------------------------------*/
/*	qty input-text form
/*-------------------------------------------*/
.woocommerce :is(.quantity .input-text.qty, .wc-block-add-to-cart-form .quantity .input-text.qty) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: right;
    width: 5rem;
}
